body {
	padding: 0;
	margin: 0;
}
.gallery {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #242424;
	background-image: url("lion.png");
	animation: bg-scroll 2000s linear infinite;
	background-size: 20%;
	outline: 0;
}

.pretty-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
	background-color: #242424;
}
.pretty-scrollbar::-webkit-scrollbar-corner {
    background-color: #242424;
}
.pretty-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00529B;
    border-color: transparent;
	background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}
.pretty-scrollbar::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
	background-color: transparent;
    border-color: #242424;
	border-width: initial;
}
.pretty-scrollbar::-webkit-scrollbar-track-piece {
    background-color: #363636;
    border: 4px solid #242424;
    border-radius: 8px;
}
@keyframes bg-scroll {
	0% {background-position: 0px 0px}
	100% {background-position: 17320px -10000px}
}

#debug {
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	font-size: 20px;
	z-index: 1000;
	font-family: monospace;
}

div.header {
	width: 100vw;
	height: 3vw;
	padding-top: 1vw;
	padding-left: 1vw;
	padding-bottom: 1vw;
	background: #00529B;
	border-bottom: 4px solid #00417a;
}

div.header div.titletext {
	font-family: Roboto;
	font-weight: 100;
	color: white;
	height: 100%;
	vertical-align: middle;
	font-size: 2.5vw;
}

div#jsimages {
	display: table;
	position: absolute;
	width: fit-content;
	left: 50%;
	transform: translateX(-50%);
}

div.imgcolumn {
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	/* outline: 1px dotted red; */
	height: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
div.imgcolumn img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 50%;
	transform: translateX(-50%);
	border: 2px solid black;
	background: black;
}
div.imgcolumn img.new {
	animation: fade-image-in 0.2s ease-in forwards;
}
@keyframes fade-image-in {
	0% {opacity: 0; transform: translate(-50%, 10px);}
	100% {opacity: 1; transform: translate(-50%, 0px);}
}
div.imgcolumn img:hover {
	border: 2px solid #00529B;
	background: #00529B;
	box-shadow: 0px 0px 10px 3px #00529B;
}

#loader {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: -40vh;
	height: 40vh;
	visibility: hidden;
	/* background: rgba(255,255,0,1); */
}

div.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.9);
	color: rgba(175,175,175,0);
	font-family: Roboto;
	font-weight: 100;
	font-size: 2vw;
	text-align: center;
	padding-top: calc(50vh - 1vw);
	animation: fade-text-in 0.5s ease-in forwards;
}
@keyframes fade-text-in {
	0% {color: rgba(175,175,175,0);}
	100% {color: rgba(175,175,175,1);}
}
div.backdrop img {
	position: fixed;
	max-width: 75vw;
	max-height: 90vh;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	border: 2px solid #00529B;
	background: #00529B;
	box-shadow: 0px 0px 10px 3px #00529B;
	animation: fade-in 0.25s ease-in forwards;
}
@keyframes fade-in {
	0% {opacity: 0; transform: translate(-50%,-50%) scale(0.9);}
	100% {opacity: 1; transform: translate(-50%,-50%) scale(1);}
}
div.backdrop button {
  position: fixed;
  top: 2vw;
  right: 3vw;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  background: none;
  border: none;
  height: 40px;
  width: 40px;
}

div.backdrop button:hover,
div.backdrop button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}