body {
	padding: 0;
	margin: 0;
	width: 100vw;
	background: #242424;
	background-image: url("lion.png");
	animation: bg-scroll 2000s linear infinite;
	background-size: 10%;
	overflow-x: hidden;
}
@keyframes bg-scroll {
	0% {background-position: 0px 0px}
	100% {background-position: 17320px -10000px}
}

#debug {
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	font-size: 20px;
	z-index: 1000;
}

div.header {
	width: 100vw;
	height: 3vw;
	padding-top: 1vw;
	padding-left: 1vw;
	padding-bottom: 1vw;
	background: #00529B;
	border-bottom: 4px solid #00417a
}

div.header div.titletext {
	font-family: Roboto;
	font-weight: 100;
	color: white;
	height: 100%;
	vertical-align: middle;
	font-size: 2.5vw;
}

div#jsimages {
	display: table;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

div.imgcolumn {
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	/* outline: 1px dotted red; */
	height: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
div.imgcolumn img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 50%;
	transform: translateX(-50%);
	border: 2px solid black;
	background: black;
}
div.imgcolumn img:hover {
	border: 2px solid #00529B;
	background: #00529B;
	box-shadow: 0px 0px 10px 3px #00529B;
}

#loader {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: -40vh;
	height: 40vh;
	/* background: rgba(255,255,0,1); */
}
#loader.hidden {
}