body {
	padding: 0;
	margin: 0;
}
.gallery {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #242424;
	background-image: url("lion.png");
	animation: bg-scroll 2000s linear infinite;
	background-size: 20%;
	outline: 0;
}

.pretty-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
	background-color: #242424;
}
.pretty-scrollbar::-webkit-scrollbar-corner {
    background-color: #242424;
}
.pretty-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00529B;
    border-color: transparent;
	background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}
.pretty-scrollbar::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
	background-color: transparent;
    border-color: #242424;
	border-width: initial;
}
.pretty-scrollbar::-webkit-scrollbar-track-piece {
    background-color: #363636;
    border: 4px solid #242424;
    border-radius: 8px;
}
@keyframes bg-scroll {
	0% {background-position: 0px 0px}
	100% {background-position: 17320px -10000px}
}

#debug {
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	font-size: 20px;
	z-index: 1000;
	font-family: monospace;
}

#credits {
	visibility: hidden;
	padding: 0;
}
#credits.visible {
	visibility: visible;
}
#credits div.creds {
	color: rgba(175,175,175,1);
	animation: pop-in 0.5s ease-in-out forwards;
	margin-top: 50vh;
	font-size: 4vw;
}
@keyframes pop-in {
	0% {transform: translateY(-50%) scale(0);}
	50% {transform: translateY(-50%) scale(1.2);}
	100% {transform: translateY(-50%) scale(1);}
}

div.header {
	width: 100vw;
	height: 3vw;
	padding-top: 1vw;
	padding-left: 1vw;
	padding-bottom: 1vw;
	background: #00529B;
	border-bottom: 4px solid #00417a;
}

div.header div.titletext {
	font-family: Roboto;
	font-weight: 100;
	color: white;
	height: 100%;
	vertical-align: middle;
	font-size: 2.5vw;
	display: inline-block;
}

div.header .credits {
	font-family: "Material Icons";
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
	background: transparent;
	color: white;
	width: fit-content;
	border-radius: 0.5vw;
	transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
	font-size: 2.5vw;
	float: right;
	margin-right: calc(16px + 2vw);
	clear: none;
	cursor: pointer;
	text-shadow: 0.2vw 0.22vw 0px black;
	outline: 0;
}
div.header .credits:hover {
	border: 1px solid #242424;
	background: #00417a;
}

div#jsimages {
	display: flex;
	position: absolute;
	width: fit-content;
	left: 50%;
	transform: translateX(-50%);
}

div.imgcolumn {
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	height: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
div.imgcolumn img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 50%;
	transform: translateX(-50%);
	border: 2px solid black;
	background: black;
}
div.imgcolumn img.new {
	animation: fade-image-in 0.2s ease-in forwards;
}
@keyframes fade-image-in {
	0% {opacity: 0; transform: translate(-50%, 10px);}
	100% {opacity: 1; transform: translate(-50%, 0px);}
}
div.imgcolumn img:hover {
	border: 2px solid #00529B;
	background: #00529B;
	box-shadow: 0px 0px 10px 3px #00529B;
}

#loader {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: -40vh;
	height: 40vh;
	visibility: hidden;
	/* background: rgba(255,255,0,1); */
}

div.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.9);
	color: rgba(175,175,175,0);
	font-family: Roboto;
	font-weight: 100;
	font-size: 2vw;
	text-align: center;
	padding-top: calc(50vh - 1vw);
	animation: fade-text-in 0.5s ease-in forwards;
}
@keyframes fade-text-in {
	0% {color: rgba(175,175,175,0);}
	100% {color: rgba(175,175,175,1);}
}
div.backdrop img {
	position: fixed;
	max-width: 75vw;
	max-height: 90vh;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	border: 2px solid #00529B;
	background: #00529B;
	box-shadow: 0px 0px 10px 3px #00529B;
	animation: fade-in 0.25s ease-in forwards;
}
@keyframes fade-in {
	0% {opacity: 0; transform: translate(-50%,-50%) scale(0.9);}
	100% {opacity: 1; transform: translate(-50%,-50%) scale(1);}
}
div.buttonsarray button {
	position: fixed;
	font-family: "Material Icons Round";
	color: #f1f1f1;
	font-size: 5vw;
	transition: color 0.1s linear;
	background: none;
	border: none;
	height: 5vw;
	width: 5vw;
	padding: 0;
	outline: none;
}
div.buttonsarray button.close {
	top: 2vw;
	right: 3vw;
	width: 5vw;
}
div.buttonsarray button.share {
	bottom: 2vw;
	right: 3vw;
	width: 5vw;
}
div.buttonsarray button.share.copied {
	width: auto;
}
div.buttonsarray button.share.copied:before {
	position: fixed;
	bottom: 6vw;
	right: -5.5vw;
	font-family: Roboto;
	content: "Link Copied!";
	font-size: 1.2vw;
	position: relative;
}
div.buttonsarray button.left {
	visibility: hidden;
	top: 50vh;
	left: 0;
	font-size: 6vw;
	width: 6vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	border-top-right-radius: 3vw;
	border-bottom-right-radius: 3vw;
	height: auto;
	background: rgba(42,42,42,0.5);
	transform: translateY(-50%);
}
div.buttonsarray button.right {
	visibility: hidden;
	top: 50vh;
	right: 0;
	font-size: 6vw;
	width: 6vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	border-top-left-radius: 3vw;
	border-bottom-left-radius: 3vw;
	height: auto;
	background: rgba(42,42,42,0.5);

	transform: translateY(-50%);
}
div.buttonsarray button.visible {
	visibility: visible;
}
div.buttonsarray button:hover {
	text-shadow: 0px 0px 20px #00529B, 0px 0px 20px #00529B;
	cursor: pointer;
}
div.buttonsarray button:active {
	text-shadow: 0px 0px 20px #00529B, 0px 0px 20px #00529B, 2px 2px 10px #00529B, 2px -2px 10px #00529B, -2px 2px 10px #00529B, -2px -2px 10px #00529B;
}
